{{#extends "base"}}
    
    {{#block "content"}}
    <h1> About us</h1>
    <p> Our company promises to bring you healthy food </p>
    {{/block}}

    {{#block "title"}}
    Welcome to Organic Food
    {{/block}}

{{/extends}}